@import url(/assets/styles/style.css);
.watch-online {
  height: 700px;
  background-image: url("/assets/images/giant-panda.jpg");
  background-position: 0 -80px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.watch-online .watch-container {
  display: flex;
  justify-content: flex-end;
}

.watch-wrap {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  align-items: center;
  position: relative;
}
.watch-wrap .circle {
  width: 465px;
  height: 465px;
  position: absolute;
  bottom: 118px;
  left: 0;
  border-radius: 50%;
  background: var(--orange);
}
.watch-wrap p {
  margin: 0 0 60px 0;
  position: relative;
  font-weight: 700;
  font-size: 106px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.watch-wrap p .highlight {
  color: var(--yellow);
}

.backstage {
  background: url("/assets/images/flower_foto1.png") 100% 50% no-repeat;
  padding: 140px 0;
}
.backstage .backstage-container {
  display: flex;
  justify-content: space-around;
}
.backstage .description {
  max-width: 465px;
}
.backstage .description h2 {
  margin: 0 0 20px 0;
}
.backstage .description .subtitle {
  margin: 54px 0 34px 0;
}

.animals {
  position: relative;
  padding: 40px 0 100px 0;
}
.animals .animals-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.animals .animals-container::before {
  content: "";
  width: 62px;
  height: 62px;
  background-color: var(--orange);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 580px - 82px);
  top: 39%;
}
.animals .animals-container::after {
  content: "";
  width: 62px;
  height: 62px;
  background-color: var(--orange);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 580px - 20px);
  top: 39%;
}
.animals::before {
  content: "";
  background: url("/assets/images/palm_foto.png") 0% 100% no-repeat;
  width: 292px;
  height: 400px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.animals::after {
  content: "";
  background: url("/assets/images/strelitzia 1.png") 100% 100% no-repeat;
  width: 368px;
  height: 275px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.animals .animals__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 30px;
  margin-bottom: 80px;
}
.animals .animals__item {
  border: 1px solid var(--plain-orange);
  border-radius: 5px;
  width: 366px;
  height: 426px;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}
.animals #pandas {
  background-image: url("/assets/images/pandas.jpg");
}
.animals #eagles {
  background-image: url("/assets/images/eagle.jpg");
}
.animals #gorillas {
  background-image: url("/assets/images/gorilla.jpg");
}
.animals #sloth {
  background-image: url("/assets/images/sloth.jpg");
}
.animals #cheetah {
  background-image: url("/assets/images/cheetah.jpg");
}
.animals #penguin {
  background-image: url("/assets/images/penguin.jpg");
}
.animals .animals__description {
  position: absolute;
  background: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 8px 13px 14px 16px;
}
.animals .animals__description p {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
.animals .animals__description span {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.feed {
  min-height: 1004px;
  background: var(--orange-gradient);
  display: flex;
  align-items: center;
  color: var(--black-blue);
}
.feed .feed-container {
  background: var(--frosted-white);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 41px 0 59px 0;
}
.feed h2 {
  text-align: center;
  color: var(--orange-lighter);
  margin-top: 0;
  margin-bottom: 30px;
}
.feed p {
  line-height: 130%;
  padding-left: 99px;
  padding-right: 59px;
}
.feed p.subtitle {
  margin-bottom: 40px;
}
.feed p.bolder {
  font-weight: 500;
  margin-bottom: 10px;
}
.feed .howto__wrap {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.feed .howto__wrap h3 {
  margin-top: 58px;
  margin-bottom: 0;
}
.feed .howto__list {
  padding: 40px 0 60px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.feed .howto__item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 168px;
  margin-right: 130px;
}
.feed .howto__item:last-child {
  margin-right: 0;
}
.feed .howto__item:last-child .howto__icon::after {
  content: none;
}
.feed .howto__item p {
  padding: 0;
  margin: 0;
}
.feed .howto__icon {
  width: 168px;
  height: 168px;
  border-radius: 5px;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--plain-orange);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}
.feed .howto__icon::after {
  content: "";
  width: 69px;
  height: 35px;
  background: url("/assets/icons/arrow-big.svg") 0 0 no-repeat;
  position: absolute;
  top: calc(50% - 17.5px);
  left: calc(100% + 35px);
}

.testimonials {
  padding: 140px 0 180px 0;
}
.testimonials h3 {
  margin: 0;
  text-align: center;
}
.testimonials .testimonials__list {
  margin-top: 47px;
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials .testimonials__item {
  width: 268px;
  height: 391px;
  position: relative;
  border: 2px solid transparent;
  border-radius: 20px;
  border: 2px solid transparent;
  background-image: linear-gradient(var(--light-gray), var(--light-gray)), var(--pink-gradient);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}
.testimonials .testimonials__item-wrap {
  padding: 13px 13px 17px 14px;
}
.testimonials .testimonials__item-head {
  display: flex;
  align-items: center;
}
.testimonials .testimonials__item-head img {
  margin-right: 10px;
}
.testimonials .testimonials__item-head span {
  display: block;
  color: var(--lighter-gray);
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
.testimonials .testimonials__item-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: var(--gray);
  margin-top: 10px;
}
.testimonials .testimonials__item-text p {
  margin: 0;
}
.testimonials .scroll {
  width: 599px;
  height: 8px;
  background: #f5f7f6;
  background: var(--orange-lighter);
  border-radius: 5px;
  margin: 0 auto 31px auto;
}
.testimonials .scroll span {
  background: var(--orange-lighter);
  width: 115px;
}
.testimonials .btn {
  display: block;
  width: 298px;
}