@import url(/assets/styles/style.css);

.watch-online {
  height: 700px;
  background-image: url('/assets/images/giant-panda.jpg');
  background-position: 0 -80px;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;

  .watch-container {
    display: flex;
    justify-content: flex-end;
  }
}

.watch-wrap {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  align-items: center;
  position: relative;

  .circle {
    width: 465px;
    height: 465px;
    position: absolute;
    bottom: 118px;
    left: 0;
    border-radius: 50%;
    background: var(--orange);
  }

  p {
    margin: 0 0 60px 0;
    position: relative;
    font-weight: 700;
    font-size: 106px;
    line-height: 75%;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;

    .highlight {
      color: var(--yellow);
    }
  }
}

.backstage {
  background: url('/assets/images/flower_foto1.png') 100% 50% no-repeat;
  padding: 140px 0;

  .backstage-container {
    display: flex;
    justify-content: space-around;
  }

  .description {
    max-width: 465px;

    h2 {
      margin: 0 0 20px 0;
    }

    .subtitle {
      margin: 54px 0 34px 0;
    }
  }
}

.animals {
  position: relative;
  padding: 40px 0 100px 0;

  .animals-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    &::before {
      content: '';
      width: 62px;
      height: 62px;
      background-color: var(--orange);
      border-radius: 50%;
      display: block;
      position: absolute;
      left: calc(50% - (1160px / 2) - 82px);
      top: 39%;
    }

    &::after {
      content: '';
      width: 62px;
      height: 62px;
      background-color: var(--orange);
      border-radius: 50%;
      display: block;
      position: absolute;
      left: calc(50% - (1160px / 2) - 20px);
      top: 39%;
    }
  }

  &::before {
    content: '';
    background: url('/assets/images/palm_foto.png') 0% 100% no-repeat;
    width: 292px;
    height: 400px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &::after {
    content: '';
    background: url('/assets/images/strelitzia 1.png') 100% 100% no-repeat;
    width: 368px;
    height: 275px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .animals__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px 30px;

    margin-bottom: 80px;
  }

  .animals__item {
    border: 1px solid var(--plain-orange);
    border-radius: 5px;
    width: 366px;
    height: 426px;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
  }

  #pandas {
    background-image: url('/assets/images/pandas.jpg');
  }

  #eagles {
    background-image: url('/assets/images/eagle.jpg');
  }

  #gorillas {
    background-image: url('/assets/images/gorilla.jpg');
  }

  #sloth {
    background-image: url('/assets/images/sloth.jpg');
  }

  #cheetah {
    background-image: url('/assets/images/cheetah.jpg');
  }

  #penguin {
    background-image: url('/assets/images/penguin.jpg');
  }

  .animals__description {
    position: absolute;
    background: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 8px 13px 14px 16px;

    p {
      margin: 0;
      font-weight: 300;
      font-size: 15px;
      line-height: 120%;
    }

    span {
      display: block;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
    }
  }
}
