@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('Roboto-Bold.woff2') format('woff2'),
    url('Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('Roboto-Regular.woff2') format('woff2'),
    url('Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('Roboto-Light.woff2') format('woff2'),
    url('Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('Roboto-Medium.woff2') format('woff2'),
    url('Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'), url('Roboto-Thin.woff2') format('woff2'),
    url('Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

:root {
  --green: #4b9200;
  --orange: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  --plain-orange: #f9804b;
  --yellow: #ffee2e;
  --orange-gradient: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  --dark-orange: #e47209;

  --pink-gradient: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  --red: #d31414;
  --black-blue: #333b41;
  --gray: #767474;
  --gray-smoky: #ababab;
  --lighter-gray: #bdbdbd;
  --light-gray: #f1f3f2;
  --frosted-white: rgba(253, 253, 255, 0.52);
  --white: #ffffff;
  --black: #000000;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 1600px;
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;

  color: var(--basic-black);
  background: var(--basic-white);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

a {
  text-decoration: none;
  color: var(--white);

  &:hover,
  &:active {
    color: var(--plain-orange);
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header,
footer {
  background: var(--black);
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 114px;
  line-height: 80%;
  text-transform: uppercase;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 0 0 14px 0;
}

.btn {
  background: var(--orange);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  padding: 16px;
  min-width: 298px;
  text-align: center;

  &.btn-square {
    border-radius: 5px;
  }

  &:hover {
    background: var(--dark-orange);
    color: var(--white);
  }

  &:active {
    background: var(--green);
    color: var(--white);
  }

  &:disabled {
    background: var(--gray);
    color: var(--white);
  }
}

input[type='text'] {
  border: none;
  border-radius: 2px;
  outline: 0.7px solid var(--plain-orange);
  line-height: 140%;
  max-height: 42px;

  &:focus {
    outline-color: var(--green);
  }
}

button[type='submit'] {
  background: var(--light-gray);
  border: none;
  outline: 1px solid var(--black-blue);
  border-radius: 5px;
  padding: 10px 39px;
  line-height: 140%;
  cursor: pointer;

  &:active {
    outline-color: var(--green);
    color: var(--green);
  }
}

.error {
  border-color: var(--red);
  color: var(--red);
}

.small-p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

.page-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  padding: 14px 0;
}

.logo__link {
  padding-right: 5px;
  max-width: 82px;
  max-height: 52px;
}

.site-navigation {
  flex: 1;
}

.site-navigation__item {
  padding-left: 58px;
}

.site-navigation__list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.site-navigation__link,
.copyright__link {
  color: var(--white);
}

.site-navigation__link.active {
  color: var(--plain-orange);
  cursor: auto;
}

.page-footer {
  padding: 40px 0 50px 0;

  display: grid;
  grid-template-areas:
    'logo . subscribe'
    'donate . .'
    'social nav copyright';
  row-gap: 36px;

  .logo {
    grid-area: logo;
  }

  .subscribe {
    grid-area: subscribe;
    display: flex;
    justify-content: flex-end;

    .subscribe__title {
      color: var(--white);
    }

    #email {
      width: 228px;
      padding: 10px 7px 10px 10px;
      margin-right: 10px;
      background-color: var(--basic-black);
      color: var(--lighter-gray);
    }
  }

  .donate__btn {
    grid-area: donate;
    max-width: 298px;
  }

  .socials__list {
    grid-area: social;
    align-self: flex-end;

    .socials__item:last-child {
      .socials__link {
        margin: 0;
      }
    }

    .socials__link {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;
      color: var(--white);

      &:hover {
        color: var(--green);
      }

      &::before {
        content: '';
        display: inline-block;
        width: 26px;
        height: 26px;
        margin-right: 12px;
        background: url('/assets/icons/social_network.svg') no-repeat;
      }

      &#fb::before {
        background-position: 0 0;
      }
      &#twitter::before {
        background-position: -56px 0;
      }
      &#instagram::before {
        background-position: -112px 0;
      }
      &#yt::before {
        background-position: -168px 0;
      }
    }
  }

  .site-navigation {
    grid-area: nav;
    align-self: flex-end;

    .site-navigation__list {
      justify-content: center;
    }
    .site-navigation__item {
      padding-left: 0;
      padding-right: 58px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .copyright__link {
    grid-area: copyright;
    display: flex;
    flex-flow: column wrap;
    align-self: flex-end;
    justify-content: center;

    align-items: flex-end;

    font-family: 'Roboto-Thin', sans-serif;
    line-height: 130%;

    a {
      &:first-child {
        padding-bottom: 10px;
      }
      &:hover,
      &:active {
        text-decoration: underline;
        color: var(--green);
      }
    }
  }
}
